art==4.7
as==0.1
astroid==2.4.2
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
click==7.1.2
colorama==0.4.3
cryptography==3.0
docutils==0.16
fire==0.3.1
Flask==1.1.2
Flask-Classful==0.14.2
h11==0.8.1
h2==3.2.0
hpack==3.0.0
http3==0.6.7
hyperframe==5.2.0
idna==2.10
import==0.0.1
ipinfo==3.0.0
isort==5.4.2
itsdangerous==1.1.0
Jinja2==2.11.2
Kivy==2.0.0rc3
Kivy-Garden==0.1.4
kivymd==0.104.1
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.19.1
pandas==1.1.2
pathtools==0.1.2
Pillow==8.1.1
plyer==1.4.3
pycparser==2.20
pyfiglet==0.8.post1
Pygments==2.6.1
pylint==2.6.0
pypng==0.0.20
PyQRCode==1.2.1
PySocks==1.7.1
pythemis==0.13.0
python-dateutil==2.8.1
pytz==2020.1
pyzbar==0.1.8
qrcode==6.1
redis==3.5.3
requests==2.24.0
requests-async==0.6.2
rfc3986==1.4.0
rpcudp==4.0.1
simplekv==0.14.1
six==1.15.0
sqlitedict==1.6.0
termcolor==1.1.0
text2art==0.2.0
toml==0.10.1
torpy==1.1.3
typed-ast==1.4.1
u-msgpack-python==2.7.0
ujson==3.1.0
urllib3==1.25.10
utm==0.6.0
watchdog==0.10.3
Werkzeug==1.0.1
wrapt==1.12.1
hirlite
