astroid==2.4.2
certifi==2020.6.20
chardet==3.0.4
Click==7.0
colorama==0.4.3
docutils==0.16
Flask==1.1.2
Flask-API==2.0
idna==2.10
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
Kivy==1.11.1
Kivy-Garden==0.1.4
kivymd==0.104.1
lazy-object-proxy==1.4.3
llp==0.2.2
MarkupSafe==1.1.1
mccabe==0.6.1
mpi-slingshot==0.2.0
neobolt==1.7.17
neotime==1.7.4
pathtools==0.1.2
Pillow==7.2.0
plyer==1.4.3
prompt-toolkit==2.0.10
py2neo==4.3.0
Pygments==2.3.1
pylint==2.5.3
PySocks==1.7.1
pytz==2020.1
requests==2.24.0
six==1.15.0
toml==0.10.1
typed-ast==1.4.1
urllib3==1.24.3
watchdog==0.10.3
wcwidth==0.2.5
Werkzeug==1.0.1
wrapt==1.12.1
